<% #unless current_user?(@user) %>
  <div id="follow_form">
  <% if current_user.following?(event) %>
  	
    <%= render :partial => 'users/unfollow',:locals => {:event => event} %>	
	</div>
  <% else %>
  	
    <%= render :partial => 'users/follow', :locals => { :event => event} %>
  <% end %>
  </div>
<%# end %>
