<div class="span12">
	<div class="span9">
		<table class="table table-hover">  <!-- class="profile" summary="Profile information"> -->
			<tr>

			<td > <!--  class="main"> -->
				<h1>
					<%= gravatar_for @user %>
					<%= @user.name %>
				</h1>
			</td>	
		</tr>
		</table>


				<%@list = current_user.follows.collect(&:followed_id).each_with_index do |id ,index| %>
					<% @listss =Event.find_by_id(id)  %>
					<div >					<table class="table table-striped">
						<%= render @listss , :index => index%>
					</table>
					<%#= will_paginate @listss %>
				</div>
				<% end %>
			<!--
				<%# unless @user.events.empty? %>
					<table class="table table-striped">
						<%#= render @events %>
					</table>
					<%#= will_paginate @events %>
				<%# end %>
			-->
			
		
	
</div>

<div class="nav nav-tabs nav-stacked" >
	<%= render 'layouts/sidebar'%>
</div>



</div>