<tr>
<td class="micropost">
<span class="title"><%= event.title %></span>
<span class="content"><%= event.description %></span>
<span class="content"><%= time_tag(event.date) %></span>
<span class="timestamp">
Created <%= time_ago_in_words(event.created_at) %> ago.
</span>
</td>
</tr>
