<h1>About Teamer</h1>
<p>
	Teamer is a easy to use interface that helps connect people part of a Organisaion or a team. It makes easy co-ordination of various members in to easy manageable events and tasks.

	Teamer is born out of the need for an online application that could cater to the needs of student bodies in Universities. But soon, it has grown in to an application that every organisation must have.

</p>

<p>
	This is made by interns <a href="http://www.facebook.com/amrit.sahoo"> Amrit Sahoo </a> and <a href="http://www.facebook.com/vishnu.vinjam"> Vishnu Vinjam </a> of <a href="http://chronus.com"> Chronus Corporation</a> on <a href="http://rubyonrails.org/"> Ruby on Rails </a>

</p>