
<div class="masthead">
	<h1>Teamer</h1>
</div>
<br>
<p style="font-size:30px ; display:inline">
	Made possible at <a href="http://chronus.com/"> Chronus Corporation </a> </p>
<p style="font-size:17px"> by Amrit Sahoo and Vishnu Vinjam </p>
	Find us at 'amrit.sahoo@chronus.com' and 'vishnu.vinjam@chronus.com'

</p>
