<% if signed_in? %>

		
			<div class="span12">		
					<h4><%= link_to 'Create Event', new_event_path %> </h4>
					<div class="span9">
				

				<%#= render 'shared/user_info' %>
				
				
					<%  @eventlist=Event.all %>
					<% # @eventlist= @eventlist.paginate(:page => 1, :per_page => 2)%>
				<% @eventlist.each_with_index do |vel,index|%>
					<div>
					<table class="table table-striped">
						<%= render vel, :index => index %>
					</table>
					<%#= will_paginate @listss %>
					</div>
				<% end %>


					</div>

<div class="nav nav-tabs nav-stacked" >
	<%= render 'layouts/sidebar'%>
</div>


			</div>

	<%# fadsfds%>


<% else %>
	<div class="masthead">
	<h1>Teamer</h1>
	<p>
		Teamer provides a simple interface to create, join and invite to events. It helps you to team up and collaborate effortlessly to make ideas happen.
	
		Organisations, non-profits and infomal groups can now work seamlessly towards their goals.
	</p>
	</div>
	<div class="btn btn-primary btn-large" style="float:center"> <%= link_to "Join now!", signup_path, :class => "signup_button round" %> </div>
<% end %>
