<% if signed_in? %>
	<table  summary="For signed-in users">
		<tr>
			<td>
				<h4><%= link_to 'Create Event', new_event_path %> </h4>
				<br >
				<br >
				<br >
				 <%#= render 'shared/event_form' %>

			</td>

			<td > <!-- class="sidebar round"> -->
				<%= render 'shared/user_info' %>
			</td>
			<td >
				<!-- <p> List of Events </p> -->
			</td>
				<%  @eventlist=Event.all %>
				<% # @eventlist= @eventlist.paginate(:page => 1, :per_page => 2)%>

				<% unless @eventlist.empty? %>
					<table class="table table-striped">
						<%= render @eventlist %>
					</table>

					<%#= will_paginate @eventlist %>
				<% end %>
		</tr>
	</table>
	<%# fadsfds%>

<% else %>
	<h1>Sample App</h1>
	<p>
		This is the home page for the
		 application.
	</p>
	<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>
