<% if signed_in? %>
	<table  summary="For signed-in users">
		<tr>
			<td>
				<h4><%= link_to 'Create Event', new_event_path %> </h4>
				<br >
				<br >
				<br >
				 <%#= render 'shared/event_form' %>

			</td>

			<td > <!-- class="sidebar round"> -->
				<%= render 'shared/user_info' %>
			</td>
			<td >
				<!-- <p> List of Events </p> -->
			</td>
				<%  @eventlist=Event.all %>
				<% # @eventlist= @eventlist.paginate(:page => 1, :per_page => 2)%>

				<% unless @eventlist.empty? %>
					<table class="table table-striped">
						<%= render @eventlist %>
					</table>

					<%#= will_paginate @eventlist %>
				<% end %>
		</tr>
	</table>
	<%# fadsfds%>

<% else %>
	<div class="masthead">
	<h1>Teamer</h1>
	<p>
		Teamer provides a simple interface to create, join and invite to events. It helps you to team up and collaborate effortlessly to make ideas happen.
	
		Organisations, non-profits and infomal groups can now work seamlessly towards their goals.
	</p>
	</div>
	<div class="btn btn-primary btn-large" style="float:center"> <%= link_to "Join now!", signup_path, :class => "signup_button round" %> </div>
<% end %>
