<% if signed_in? %>

		
				<div>		
					<h4><%= link_to 'Create Event', new_event_path %> </h4>
					<br >	<br >	<br >
				</div>

				<%= render 'shared/user_info' %>
				
				<div>
					<%  @eventlist=Event.all %>
					<% # @eventlist= @eventlist.paginate(:page => 1, :per_page => 2)%>
				<% @eventlist.each_with_index do |vel,index|%>
					<div>
					<table class="table table-striped">
						<%= render vel, :index => index %>
					</table>
					<%#= will_paginate @listss %>
					</div>
				<% end %>


				</div>

	<%# fadsfds%>

<% else %>
	<h1>Sample App</h1>
	<p>
		This is the home page for the
		 application.
	</p>
	<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>
