

<!DOCTYPE html>
<html>
<head>
<title>RoR APP!| <%= @title %></title>
<%= csrf_meta_tag %>
</head>
<body>
<%= yield %>

<h1>About Page</h1>
<p>Static Content Here.</p>
<p>The time is <%= @time  %></p>
</body>
</html>
