<h2> <%= @user.name%>  </h2>
<h5>
	<%= link_to user_path(@user), @user %>  <br>
	Signedup <%= pluralize(@user.events.count, "event") %> <br>
	Doing <%= pluralize( @user.doing_tasks.count, "task") %> <br>
</h5>